/* =================================
  WEB FONTS
==================================== */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700);

/* =================================
  ELEMENT STYLES
==================================== */

* {
  box-sizing: border-box;
}
body {
  color: #576366;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
ul {
  margin: 0;
  padding: 0;
}
h2 {
  color: #404040;
  font-size: 1.6em;
  margin-bottom: 1.25em;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #3b80d1;
}
hr {
  border: 0;
  height: 0;
  margin: 2.3em 0 2em 0;
  border-top: 1px solid rgba(0, 0, 0, .1);
}

/* FORM & BUTTON STYLES -------- */

.home a,
input,
button {
  padding: .5em;
  font-size: .9em;
  margin-right: 10px;
  border: none;
  border-radius: 3px;
  border: solid 1px #ccc;
  outline: none;
}
button {
  color: white;
  background: #4188dc;
  padding-left: 1em;
  padding-right: 1em;
  cursor: pointer;
  border-color: rgba(0,0,0, .1);
}
#canvasoverlay {
  background-color: blueviolet;
  background-image: url(../assets/hero-photo.png);
  background-repeat: no-repeat;
  /*filter: grayscale();*/
  z-index: -5;
  /*width: 50%;
    height: 100%;
    position: absolute;*/
}

/* =================================
  LAYOUT & PAGE STYLES
==================================== */

.container {
  width: 100%;
  /*max-width: 780px;*/
  padding-bottom: 2em;
  margin: 0 auto 2em;
  background: #fff;
  border-radius: .5em;
  box-shadow: 0 3px rgba(0,0,0, .1);
  overflow: hidden;
}
header {
  -webkit-box-shadow: -1px 1px 2px 0 rgba(0,0,0,0.3);
  border-top: 2px solid transparent;
  border-image: radial-gradient(circle, red , orange);
  border-image-slice: 1;
  background-color: #fff;
  box-shadow: -1px 1px 2px 0 rgba(0,0,0,0.3);
  height: 3.5em;
  padding: 0 2.5%;
  position: fixed;
  width: 100%;
}

.main-content {
  padding: 4.5em 2em 1em;
}
.group:after {
  content: "";
  display: table;
  clear: both;
}
.course {
  margin-bottom: 1em;
}

/* IMAGES -------- */

.course-img {
  width: 70px;
}
.teacher-img {
  width: 100%;
  border-radius: .3em;
}
.not-found {
  text-align: center;
}

/* MAIN NAV -------- */
.ribbon-syl-1 {
  border-top: 2px solid transparent;
  border-image: radial-gradient(circle, red , orange);
  border-image-slice: 1;
  display: inline-block;

}
.ribbon-syl-2 {
  border-top: 2px solid transparent;
  border-image: radial-gradient(circle, yellow , green);
  border-image-slice: 1;
  display: inline-block;
}
.ribbon-syl-3 {
  border-top: 2px solid transparent;
  border-image: radial-gradient(circle, blue , purple);
  border-image-slice: 1;
  display: inline-block;
}
.ribbon-syl-4 {
  border-top: 2px solid transparent;
  border-image: radial-gradient(circle, purple , red);
  border-image-slice: 1;
  display: inline-block;
}

.main-nav {
  display: inline-block;
  height: inherit;
  width: 88%;
  line-height: 1.5em;
  text-align: center;
  top: 0;
  position: absolute;
}

.main-nav li {
  display: inline-block;
  width: fit-content;
}

.main-nav a, li {
  font-size: .95em;
  color: #222;
  padding: 1.1em;
  text-align: center;
  text-transform: uppercase;
}

.main-nav li a:hover,
.main-nav li .active {
  border-bottom: 2px solid transparent;
  cursor: pointer;
  font-weight: bold;
  height: 15px;
  padding-bottom: 2px;
  animation: moveOut .3s linear;
  -webkit-animation: moveOut .3s linear;
}

.main-nav li:nth-child(1) a:hover,
.main-nav li:nth-child(1) .active {
  border-image: linear-gradient(to right, red, orange) 1 100%;
  border-image-slice: 1;
}

.main-nav li:nth-child(2) a:hover,
.main-nav li:nth-child(2) .active {
  border-image: linear-gradient(to right, yellow, green) 1 100%;
  border-image-slice: 1;
}

.main-nav li:nth-child(3) a:hover,
.main-nav li:nth-child(3) .active {
  border-image: linear-gradient(to right, blue, purple) 1 100%;
  border-image-slice: 1;
}

.main-nav li:nth-child(4) a:hover,
.main-nav li:nth-child(4) .active {
  border-image: linear-gradient(to right, purple, red) 1 100%;
  border-image-slice: 1;
}

@-webkit-keyframes moveOut{
    from {padding-bottom: 1.5em;}
    to {padding-bottom: .2em;}
}

@keyframes moveOut {
    from {padding-bottom: 1.5em;}
    to {padding-bottom: .2em;}
}

/* COURSE NAV -------- */

.course-nav li {
  display: inline-block;
}
.course-nav li + li {
  margin-left: .6em;
}
.course-nav a {
  font-size: .85em;
  color: #7d7d7d;
  padding: .2em .8em;
  border-radius: .25em;
  background: #eaebeb;
  transition: .2s;
}
.course-nav a:hover,
.course-nav a.active {
  color: #fff;
  background: #39add1;
}

/* ICONS -------- */

.icn-logo {
  background-image: image({});
  height: 2.5em;
  width: 2.5em;
  margin: .5em;
}
/* =================================
  MEDIA QUERIES
==================================== */

@media (min-width: 0) and (max-width: 580px) {
  header {
    padding: 0;
    height: 5.38em;
  }

  .ribbon-syl-1 {
    display: block;
    border-top: 2px solid transparent;
    border-image: radial-gradient(circle, red , orange);
    border-image-slice: 1;
  }
  .ribbon-syl-2 {
    display: block;
    border-top: 2px solid transparent;
    border-image: radial-gradient(circle, yellow , green);
    border-image-slice: 1;
  }
  .ribbon-syl-3 {
    display: block;
    border-top: 2px solid transparent;
    border-image: radial-gradient(circle, blue , purple);
    border-image-slice: 1;
  }
  .ribbon-syl-4 {
    display: block;
    border-top: 2px solid transparent;
    border-image: radial-gradient(circle, purple , red);
    border-image-slice: 1;
  }
  .navImgContainer {
    display: block;
    padding-top: .5em;
  }
  .main-nav {
    width: 100%;
    position: relative;
  }
  .main-nav a {
    padding: 1.1em 0;
  }
  .main-nav li {
    padding-top: 0;
  }
  .icn-logo {
    display: block;
    margin: 0 auto;
    position: relative;
  }
}
@media (min-width: 0) and (max-width: 480px) {
  .main-nav li {
    font-size: .75em;
  }
}
